<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Things To Do</title>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
  <link href="animations.css" rel="stylesheet">
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="todo.js"></script>
  <style type="text/css">
    .done-true {
      color: gray;
      text-decoration: line-through;
    }
  </style>
</head>
<body ng-app="todo" ng-controller="App" class="well">

<h1>Things To Do</h1>

<p>
  Remaining <strong>{{remaining()}}</strong> of <strong>{{items.length}}</strong>.
  [ <a href ng-click="archive()">archive</a> ]
</p>

<ul class="unstyled">
  <li ng-repeat="item in items" ng-class="'done-'+item.done">
    <input type="checkbox" ng-model="item.done" ng-change="item.$update()"> {{item.text}}</li>
</ul>

<form>
  <input type="text" ng-model="newText">
  <button ng-disabled="!newText" ng-click="add()" class="btn btn-primary">add</button>
</form>

</body>
</html>
